html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(195, 158, 158, 0) !important; */
    background: transparent !important;
    overflow: hidden;
    font-family: "Microsoft YaHei", sans-serif;
    user-select: none;
}

/* Hide scrollbars */
::-webkit-scrollbar {
    display: none;
}

/* Reset default button styles */
button {
    font-family: inherit;
}
